@font-face {
  font-family: 'Futura Std';
  src: url('./assets/fonts/FuturaStdBook.otf');
}

* {
    font-family: 'Futura Std', sans-serif;
    margin: 0;
}

.container {
}

section {
  height: 75vh;
  padding: 0 10%;
  display: flex;
  place-items: center;
  background-color: #F2F2F2;
}

section:nth-child(1) {
  background-color: #76F8B0;
}

.img,
.audio {
  width: 500px;
}

.box {
  width: 100%;
}

@media only screen and (max-width: 1400px) {
  section {
    flex-direction: column;
    place-content: center;
    text-align: center;;
  }

  .img,
  .audio {
    width: 100%
  }

 .audio {
    margin-top: 50px;
  }

  .header {
    margin-top: 50px;
  }
}
